.note-container {
  margin: 0;
  padding: 0;
  min-height: calc(100% - 79px);
  width: 100%;
  background: #ecf0f1;
  padding-top: 20px;
}

.semester-selection {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  background: white;
  height: 110px;
}
.semester-selection h2 {
  padding-top: 10px;
  text-transform: uppercase;
}

#semester {
  height: 40px;
  width: 80%;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  background-color: #3997d3;
  background-image: url(../pics/arrow.png);
  background-size: 25px;
  background-repeat: no-repeat;
  background-position: right;
  text-transform: uppercase;
  font-size: 19px;
  font-weight: 600;
  text-indent: 35px;
}

.note-content {
  display: none;
  margin: 10px auto;
  width: 100%;
  min-height: 20px;
  height: auto;
  transform: translateY(10px);
}

.ue {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}

.ue-name {
  height: 59px;
  width: 340px;
  background: #2981ba;
  margin: 0 auto;
  text-align: center;
}
.ue-name p {
  font-size: 22px;
  font-weight: 700;
  box-sizing: border-box;
  padding: 16px;
  height: 100%;
  color: #ecf0f1;
}

.note-ue {
  text-align: center;
  width: 300px;
  box-sizing: border-box;
  background: white;
  padding: 15px 10px 10px;
  margin: 0 auto;
  line-height: 0.2;
}

.note {
  display: inline-block;
  padding-top: 10px;
  height: 50px;
  background: rgba(26, 228, 41, 0.71);
  width: 80px;
  font-size: 18px;
  text-align: center;
  margin-bottom: 5px;
}
.note span {
  text-align: right !important;
  font-size: 13px;
  color: #484e4e;
  position: relative;
  top: 10px;
  right: 5px;
}
.note h6 {
  margin: 0 5px 0 0;
  text-align: right;
  color: #484e4e;
}

.dark-green {
  background: #1ae429;
}

.green {
  background: rgba(26, 228, 41, 0.71);
}

.light-green {
  background: rgba(26, 228, 41, 0.47);
}

.light-red {
  background: rgba(192, 57, 43, 0.45);
}

.red {
  background: rgba(192, 57, 43, 0.7);
}

.dark-red {
  background: rgba(192, 57, 43, 0.9);
}
.dark-red h3 {
  color: #ecf0f1;
}
.dark-red span, .dark-red h6 {
  color: #141311;
}
